body{
     font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    }
    input[type=text]{
     border: 0px;
     border-bottom: 2px solid black; 
     height: 60px;
     font-size: 50px;
     text-align: center;
     
    }
.start{
position: absolute;
padding-left: 10%;
padding-right: 10%;
width: 80%;
top:15%;
text-align: center;
      }
.formText{
    margin: 0px;   
    }
.button {
    background-color:darkslategrey;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 10px;
    cursor: pointer;
}   
