
body{
     font-family: Arial, Helvetica, sans-serif;
    }
    
.container1 {
    position: relative;
    padding-left: 35px;
    margin: 0;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
 }

    
 .container1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}   
    
.checkmark1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.container1:hover input ~ .checkmark1 {
    background-color: #ccc;
}

.container1 input:checked ~ .checkmark1 {
    background-color:forestgreen;
}

.checkmark1:after {
    content: "";
    position: absolute;
    display: none;
}

.container1 input:checked ~ .checkmark1:after {
    display: block;
}
    
.container1 .checkmark1:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
.container2 {
    position: relative;
    padding-left: 25px;
    margin: 0;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
 }

    
 .container2 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}   
    
.checkmark2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.container2:hover input ~ .checkmark {
    background-color: #ccc;
}

.container2 input:checked ~ .checkmark {
    background-color:darkgrey;
}

.checkmark2:after {
    content: "";
    position: absolute;
    display: none;
}

.container2 input:checked ~ .checkmark2:after {
    display: block;
}
    
.container2 .checkmark2:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
     
    .container3 {
    position: relative;
    padding-left: 25px;
    margin: 0;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
 }

    
 .container3 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}   
    
.checkmark3 {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.container3:hover input ~ .checkmark3 {
    background-color: #ccc;
}

.container3 input:checked ~ .checkmark3 {
    background-color:darkred;
}

.checkmark3:after {
    content: "";
    position: absolute;
    display: none;
}

.container3 input:checked ~ .checkmark3:after {
    display: block;
}
    
.container3 .checkmark3:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
#input{

    }
#forward{
visibility: hidden; 
position: absolute;
text-align: center;
top:116px;  
height:285px;
width: 69.3px;
margin-left: 67%;

float: right;
    }
 
    
#tree{
margin-left: 35%;       
margin-right: 35%;
text-align: center;
margin-top: 295px;
width:30%;
height: auto;
min-height: 100px;
min-width: 100px;
visibility: hidden;
    }
.Form{
visibility: hidden;
     }
.start{

position: absolute;
padding-left: 30%;
padding-right: 30%;
top:15%;
text-align: center;
      }
.question{
visibility: hidden;
position: absolute;
padding-top: 100px;
padding-left: 35%;
padding-right: 35%;
height: 20%;
text-align: center;
min-width: 30%;

    }  
.options{
width: 30%;
margin: 0px;
height: 10%;
top:222.7px;
bottom:0;
position:absolute;

text-align: center;

    
    }
.option1{
    float:left;
    
    }
.option2{

    
    }
.option3{  
 float:right;
    
    }
.agree{
float:left;
margin: 0px;
padding-right: 17.8px
    }
.disagree{
float:right; 
margin: 0px;
    }
.buttonstart {
    background-color:darkslategrey;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.buttonsubmit {
    background-color:darkslategrey;
    border: none;
    color: white;
    padding: 15px 32px;
    width: 10%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
    position: absolute;
    margin-left: 45%;
    margin-right: 45%;
    visibility: hidden;

    top: 350px;
}
