
body{
     font-family: Arial, Helvetica, sans-serif;
    font-size: 40px
    }
    
.container1 {
    position: relative;
    padding-left: 70px;
    margin: 0;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
 }

    
 .container1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}   
    
.checkmark1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    background-color: #eee;
    border-radius: 50%;
}

.container1:hover input ~ .checkmark1 {
    background-color: #ccc;
}

.container1 input:checked ~ .checkmark1 {
    background-color:forestgreen;
}

.checkmark1:after {
    content: "";
    position: absolute;
    display: none;
}

.container1 input:checked ~ .checkmark1:after {
    display: block;
}
    
.container1 .checkmark1:after {
 	top: 18px;
	left: 18px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: white;
}
.container2 {
    position: relative;
    padding-left: 50px;
    margin: 0;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
 }

    
 .container2 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}   
    
.checkmark2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    background-color: #eee;
    border-radius: 50%;
}

.container2:hover input ~ .checkmark {
    background-color: #ccc;
}

.container2 input:checked ~ .checkmark {
    background-color:darkgrey;
}

.checkmark2:after {
    content: "";
    position: absolute;
    display: none;
}

.container2 input:checked ~ .checkmark2:after {
    display: block;
}
    
.container2 .checkmark2:after {
 	top: 18px;
	left: 18px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: white;
}
     
    .container3 {
    position: relative;
    padding-left: 50px;
    margin: 0;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
 }

    
 .container3 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}   
    
.checkmark3 {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    background-color: #eee;
    border-radius: 50%;
}

.container3:hover input ~ .checkmark3 {
    background-color: #ccc;
}

.container3 input:checked ~ .checkmark3 {
    background-color:darkred;
}

.checkmark3:after {
    content: "";
    position: absolute;
    display: none;
}

.container3 input:checked ~ .checkmark3:after {
    display: block;
}
    
.container3 .checkmark3:after {
 	top: 18px;
	left: 18px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: white;
}
#input{

    }
#forward{
visibility: hidden; 
position: absolute;
text-align: center;
top:200px;  
height:400px;
width: 10%;
margin-left: 90%;

float: right;
    }
 
    
#tree{
margin-left: 20%;       
margin-right: 20%;
text-align: center;
margin-top: 495px;
width:60%;
height: auto;
min-height: 100px;
min-width: 100px;
visibility: hidden;
    }
.Form{
visibility: hidden;
     }
.start{

position: absolute;
padding-left: 10%;
padding-right: 10%;

text-align: center;
      }
.question{
visibility: hidden;
position: absolute;
padding-top: 200px;
padding-left: 15%;
padding-right: 15%;
height: 20%;
text-align: center;
min-width: 70%;
    font-size: 40px

    }  
.options{
width: 70%;
margin: 0px;
height: 10%;
top:322.7px;
bottom:0;
position:absolute;

text-align: center;

    
    }
.option1{
    float:left;
    
    }
.option2{

    
    }
.option3{  
 float:right;
    
    }
.agree{
float:left;
margin: 0px;
padding-right: 17.8px
    }
.disagree{
float:right; 
margin: 0px;
    }
.buttonstart {
    background-color:darkslategrey;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 4px 2px;
    cursor: pointer;
}
.buttonsubmit {
    background-color:darkslategrey;
    border: none;
    color: white;
    padding: 15px 32px;
    width: 20%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 4px 2px;
    cursor: pointer;
    
    position: absolute;
    margin-left: 40%;
    margin-right: 40%;
    visibility: hidden;

    top: 630px;
}
