body{
     font-family: Arial, Helvetica, sans-serif;
    }
    input[type=text]{
     border: 0px;
     border-bottom: 2px solid black; 
     height: 40px;
     font-size: 30px;
     text-align: center;
    }
.start{
position: absolute;
padding-left: 20%;
padding-right: 20%;
width: 60%;
top:15%;
text-align: center;
      }
.formText{
    margin: 0px;   
    }
.button {
    background-color:darkslategrey;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
}   
