
    #results{
        text-align: center;
        
        margin-left: 35%;
        margin-right: 35%;
        width: auto;
    }  
    h1 {
        border-bottom: 2px solid black;   
    }
    #div1{
        background-color: darkgreen;
        
        margin-right: 0px;
        float: left;
        text-align: center;
        height: 100%;
    } 
    #div2{
        background-color:darkgrey;
        
        margin-right: 0px;
        float: left;
        text-align: center;
        height: 100%;
    } 
     #div3{
        background-color:darkred;
         
         margin-right: 0px;
         float: left;
         text-align: center;
         height: 100%;
    } 
    .graphtext{
        margin: 0px;
    }
    .diagntext{
        margin: 0px;
        margin-bottom: 2px;
    }
    #graphdiv{
        width:100%;
        border:0px;
        border-left: 2px solid black;       
        border-right: 2px solid black;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        height: 18px;   
    }
    #tree{
        width: 60%;
        height: auto;
    }
    .treediv{
        width: 40%;
        height: auto;
        margin:0px;
        margin-left: 5%;
        margin-right: 5%;
        text-align: center;
        float: left;
        border-bottom: 2px solid black;
    }
    .trees{
    width: 100%;
    
    
    }
    #forest{
        visibility: hidden;
        position: absolute;
        margin: 0px;
        width: 100%;
        top: 0px;
        text-align: center;
        height:0%;
    }
.button {
    background-color:darkslategrey;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    }
